﻿


body { 
	margin:0; 
	padding:20px; 
	font:13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
	}
	
/* ---- Some Resets ---- */

p,
table, caption, td, tr, th {
	margin:0;
	padding:0;
	font-weight:normal;
	}

/* ---- Paragraphs ---- */

p {
	margin-bottom:15px;
	}


    .container-liquid {
  padding-left: 15px;

  padding-right: 15px;

  margin-left: auto;

  margin-right: auto;
}

    .no-left-right-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;

}

.no-padding {
  padding: 0 ;
  margin: 0;
  display: flex;
}

.boyClass {
    background-color:#6D99C0;
}

.girlClass {
    background-color:#D52929;;

}

.navbar li {
    width: 200px;
    text-align:center;
     font-size:200%;

}


.navbar .divider-vertical {
    height: 50px;
    margin: 0 ;
     width: 0;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

@media (max-width: 767px) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.navbar{
    text-align:center;
    width: 100%;
    float: none;
         vertical-align:central;
}

li {
      float: none;
      display: inline-block;
    }

.homeTabBoy {
    background: url(../img/BG2.jpg) fixed;
    background-size:cover;
    background-repeat:no-repeat;width: 100%;
}
.homeTabGirl {
    background: url(../img/BG1.jpg) fixed;
    background-size: cover;
    background-repeat:no-repeat;width: 100%;
}


.downloadTabBoy {
    background: url(../img/downloadBG2.png) fixed;
    background-size:cover;
    background-repeat:no-repeat;width: 100%;
}
.downloadTabGirl {
    background: url(../img/downloadBG1.png) fixed;
    background-size: cover;
    background-repeat:no-repeat;width: 100%;
}

.whoweareTabBoy {
    background: url(../img/whoweareBG1.jpg) fixed;
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
     height: 100%;
}
.whoweareTabGirl {
     background: url(../img/whoweareBG2.jpg) fixed;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
       height: 100%;
}

.contactusTabBoy {
    background: url(../img/contactUsBG2.png) fixed;
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
     height: 100%;
}
.contactusTabGirl {
     background: url(../img/contactusBG1.png) fixed;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
}

.joinusTabBoy {
    background: url(../img/joinusBG2.jpg) fixed;
    background-size:cover;
    background-repeat:no-repeat;
    width: 100%;
}
.joinusTabGirl {
     background: url(../img/joinUsBG1.jpg) fixed;
    background-size: cover;
    background-repeat:no-repeat;
    width: 100%;
       height: 100%;
}


.mainText{
    font-size:300%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:900;
}
.carousel{
    margin-top: 20px;
      font-size:200%;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-align:center;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    resize:both;
    width: 100%;
    height: auto;
}
.bs-example{
	margin: 20px;
}

form{
    font-size:200%;
}  

input.ng-invalid {
    background-color: pink;
}
input.ng-valid {
    background-color: lightgreen;
}