﻿
<body ng-app="Xtrack" style="padding:0;" data-spy="scroll" data-target=".navbar" data-offset="50">


    <!--ng-show="girlMode" style="background-color:#D52929;margin: auto;">-->
    <div ng-controller="mainCtrl" ng-init="loggedin=false">
        <div data-spy="scroll" data-target=".navbar" data-offset="50">
            <div id="menuDiv" class="row"
                 style="text-align:left;">
                <div class="col-md-8">
                    <img id="siteLogo" src="" alt="siteLogo">
                    <h1 style="display:inline;vertical-align:text-top;font-size: 700%;">Forum System</h1>
                </div>
                <div class="col-md-2" ng-hide="loggedin">
                    <form class="form-group">
                        <div ng-hide="loggedIn">
                            User Name: <input id="userName" type="text">
                            Password: <input id="userPassword" type="password">
                            <button id="login" ng-click="login()">Login</button>
                        </div>
                      
                        <div ng-show="loggedIn">
                            <span  id="welcome">Hello {{loggedUser.name}}</span>
                            <button id="logout" ng-click="logOut()">Logout</button>
                        </div>
                    </form>

                </div>
            </div>

            <nav class="row navbar navbar-inverse" style="margin-bottom:0" ng-init="initMain()">
                <ul class="col-md-1"></ul>
                <ul class="nav navbar-nav col-md-9 col-md-offset-1">
                    <li class="active" id="homeTab"><a href="#allForums">All Forums</a></li>
                    <li class="divider-vertical"></li>
                    <li id="ForumTab" ng-show="sessionID!='undefiend'">Session ID: {{sessionID}}</li>
                    <li class="divider-vertical"></li>
                    <li class="navbar-right">
                        <button type="button" class="btn btn-toolbar"
                                data-toggle="popover" title="Notifications:" >
                            Notifications
                            <span id="notLength" class="badge">{{notification.length}}</span>
                        </button>
                    </li>
                </ul>


            </nav>
        </div>
    </div>
    <!-- menue -->

    <div class="ng-view"> </div>

    <!-- footer --
    <!-- jquary -->
    <script src="components/jquery/jquery-1.12.0.min.js"></script>
    <script src="components/jquery/jqueryUI/"></script>

    <!-- bootstrap -->
    <link href="components/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="components/bootstrap/js/bootstrap.min.js"></script>


    <!-- css -->
    <link href="css/generalStyle.css" rel="StyleSheet" type="text/css">

    <!-- components-->
    <script src="components/angular/angular.js"></script>
    <script src="components/angular/angular-route.js"></script>
    <script src="components/angular/angular-mocks.js"></script>

    <!-- scripts-->
    <script src="scripts/app.js"></script>

    <!--servcies -->
    <script src="scripts/services/apiSrv.js"></script>
    <script src="scripts/services/notificationSrv.js"></script>
    

    <!-- controllers -->
    <script src="scripts/controller/allforumsCtrl.js"></script>
    <script src="scripts/controller/mainCtrl.js"></script>
    <script src="scripts/controller/forumCtrl.js"></script>
    <script src="scripts/controller/subforumCtrl.js"></script>
    <script src="scripts/controller/threadCtrl.js"></script>


</body>

