﻿
<div ng-app="Xtrack" ng-controller="allforumsCtrl" class="row container" ng-init="initAllForums()">
    <div class="col-lg-offset-1 col-lg-10 page-header">
        <h1>Forums:</h1>


        <div ng-repeat="f in forums">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 well">
                    <h1>
                        <a ng-href="/#/forums/{{f.id}}">{{f.name}}</a>
                    </h1>
                    <h2>
                        {{f.summary}}
                    </h2>
                </div>
            </div>
        </div>
        <form>
            <h2>New Forum:</h2>
            Name:<input id="newForumName" type="text" required/> <br />
            Summery<input id="newForumSummery" type="text" /><br />
            <button ng-click="addNewForum()">Add New Forum</button>
        </form>

    </div>
</div>

