﻿
<div id="downloadTabBG" ng-app="Xtrack" ng-controller="mainCtrl" class="no-padding container-fluid" ng-init="getClass()">
    <div style="overflow:visible;text-align:center" class="row col-md-offset-4 col-md-5" >
        <br />
        <h1>Download PreDate Now!</h1>
            <br />
            <div>
                <a href="https://itunes.apple.com/us/app/predate/id1052511721?ls=1&mt=8" target="_blank">
                    <img src="img/appleLogo.png">
                    <img src="img/appleApp.png">
                </a>
            </div>
            <br />

            <div>
                <h1>Coming soon...</h1> 
                <img src="img/androidLogo.png">
                <img src="img/googleApp.png">
            </div>

        <div>
            <h1>download our app and start dating NOW!</h1>
             <a href="#/whoweare" style="color:black">
           <h1>Learn more ></h1>
                 </a> 
        </div>
        
        </div>
    </div>
