﻿
<div ng-app="Xtrack" ng-controller="forumCtrl" class="row container" ng-init="initForum()">
    <div class="col-lg-offset-1 col-lg-10 page-header">
        <h1>Forums:</h1>


        <div ng-repeat="s in subforums">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 well">
                    <h1>
                        <a ng-href="/#/subforum/{{s.id}}">{{s.name}}</a>
                    </h1>
                    <h2>
                        {{s.summary}}
                    </h2>
                </div>
            </div>
        </div>

                    <form>
                        <h2>New SubForum:</h2>

                        Name:<input id="newSubForumName" type="text" required/> <br />
                        Summery<input id="newSubForumSummery" type="text" /><br />
                        <button ng-click="addNewSubForum()">Create</button>
                    </form>
                </div>
            </div>
  

