﻿
<div ng-app="Xtrack" ng-controller="subforumCtrl" class="container" ng-init="initSubForum()">


    <div class="col-lg-offset-1 page-header col-lg-10 row">
        <h1>{{subforum.name}} subforum </h1>


        <div ng-repeat="t in threads" class="row">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 well">
                    <h3><a ng-href="/#/thread/{{t.id}}">{{t.name}}</a></h3>
                    <h4> {{t.summary}}</h4>
                </div>
            </div>

        </div>
            <form>
                <h2>New Thread:</h2>

                Header:<input id="newThreadName" type="text" required/> <br/>
                Content<textarea id="newThreadSummery" type="text" /><br/>
                <button ng-click="createNewThread()">Create</button>
            </form>
        </div>
    </div>


