﻿
<div ng-app="Xtrack" ng-controller="threadCtrl" class="container" ng-init="initThread()">


    <div class="col-lg-offset-1 page-header row well">

        <h1>{{cthread.name}}
        </h1>
        <h2>{{cthread.summary}}</h2>


    <div ng-repeat="p in posts" class="row">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10 well">
                <h3>{{p.name}}</h3>
                <h4> {{p.summary}}</h4>
            </div>
        </div>

    </div>

        <form>
            <h2>New Post:</h2>
            Header:<input id="newPostName" type="text" required/> <br />
            Content<textarea id="newPostSummery" type="text" /><br />
            <button ng-click="addNewPost()">Create</button>
        </form>
    </div>
</div>

